$gap: 0.3rem;

main.contract-container {
    display: flex;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    color: black;

    aside.contract-wrapper {
        flex: 1 0;
        height: 100%;

        display: flex;
        flex-direction: column;

        position: relative;
        isolation: isolate;

        overflow-y: auto;
        overflow-x: hidden;
        direction: ltr;

        background-color: var(--sixty-percent);
        color: black;

        .contract-pages {
            display: flex;
            gap: 1vw;

            width: 100%;

            padding: 2rem 1rem;
            padding-bottom: 0;

            direction: rtl;

            overflow-x: auto;

            .cta-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5vw;

                padding: 0.5rem 1rem;

                color: black;
                border: 1px solid black;
                border-radius: 5px;

                cursor: pointer;

                transition: all 0.3s ease-in-out;

                &:hover {
                    color: white;
                    background-color: black;
                }
            }

            .pager {
                display: grid;
                place-items: center;

                cursor: pointer;

                border: 1px solid black;
                border-radius: 5px;

                width: 30px;
                aspect-ratio: 1/1;

                color: black;

                user-select: none;

                transition: all 0.3s ease-in-out;
                &.active {
                    color: white;
                    background-color: black;
                }
            }
        }

        .editor {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: $gap;
            overflow: hidden;

            .modes {
                width: 100%;

                display: flex;
                gap: 1vw;

                padding: 1rem 0.5rem;

                flex-shrink: 0;

                overflow: hidden;
                direction: rtl;

                span {
                    user-select: none;
                    border: 2px solid transparent;
                    border-bottom: 0;
                    padding: 0.5em 1em;

                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;

                    cursor: pointer;
                    position: relative;

                    &.active {
                        border-color: black;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 100vw;
                            height: 2px;
                            background: black;
                            bottom: 0;
                            right: 100%;
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            width: 1000%;
                            height: 2px;
                            background: black;
                            bottom: 0;
                            left: 100%;
                        }
                    }
                }
            }

            .editor-container {
                background-color: inherit;
                width: unset;
            }

            textarea {
                padding: 0.5rem;
                border: 0;

                direction: rtl;

                background-color: white;
                color: black;

                width: 100%;
                height: 100%;
                resize: none;
            }

            .output {
                font-size: 18px;
                font-family: monospace;
                padding: 0.5rem;
                border: 0;
                direction: ltr;
                background-color: #040404;
                color: #f2f2f2;
                width: 100%;
                height: 100%;
                resize: none;
            }
        }
    }

    aside.contract-sidebar {
        width: clamp(280px, 25%, 450px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 4vh;

        padding: 5vh 0 2.5vh 0;

        background-color: white;
        color: black;

        overflow-y: auto;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        h2.sidebar-title {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            padding-bottom: 30px;

            position: relative;
            isolation: isolate;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 80%;
                height: 1px;
                background-image: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0),
                    black,
                    rgba(0, 0, 0, 0)
                );
            }
        }

        h3.sidebar-section {
            display: flex;
            align-items: center;

            gap: 0.5vw;

            span {
                white-space: nowrap;
            }

            &::after {
                content: '';
                width: 35%;
                height: 2px;
                margin-right: auto;
                background-color: black;
            }
        }

        .fields-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1vh;

            direction: rtl;

            .fields {
                height: 20%;
                padding: $gap;
                display: flex;
                gap: $gap;
                flex-wrap: wrap;
                align-content: flex-start;

                button.field {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5vw;

                    padding: 0.5rem 1rem;

                    border: 1px solid black;
                    border-radius: 5px;

                    color: black;
                    cursor: pointer;

                    width: 49%;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: white;
                        background-color: black;
                    }

                    @media screen and (max-width: 1024px) {
                        width: 100%;
                    }
                }
            }
        }

        .field-config-container {
            display: flex;
            flex-direction: column;
            gap: 1vh;

            width: 100%;

            direction: rtl;

            .fields-wrapper {
                padding: 0 1rem;

                input {
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    color: black;
                }

                .field-config {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    gap: 2vh;

                    input[type='checkbox'] {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        appearance: none;
                        background-color: white;
                        color: unset;

                        width: 25px;
                        aspect-ratio: 1/1;

                        cursor: pointer;

                        border: 0.15em solid black;
                        border-radius: 100vmax;

                        overflow: hidden;

                        &::before {
                            content: '';
                            transform: translateY(200%);

                            width: calc(25px - 12px);
                            height: calc(25px - 12px);
                            border-radius: 100vmax;
                            background-color: black;

                            transition: 0.5s
                                cubic-bezier(0.175, 0.885, 0.32, 1.275)
                                transform;
                        }

                        &:checked::before {
                            transform: translateY(0);
                        }
                    }

                    .config-row {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5vw;
                        }

                        &.optional {
                            label {
                                cursor: pointer;
                            }
                        }

                        .uid-input {
                            direction: ltr;
                        }

                        label {
                            width: 100%;
                        }
                    }

                    .add-option {
                        padding: 1rem 2rem;

                        background-color: var(--ten-percent);
                        color: white;

                        border-radius: 5px;
                    }

                    .option-row {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        gap: 1vw;

                        .inputs-wrapper {
                            flex: 1;
                        }
                        .remove {
                            height: 100%;

                            display: grid;
                            place-items: center;

                            color: var(--alert-error);

                            svg {
                                transition: rotate 0.35s ease-in-out;
                            }
                            &:hover svg {
                                rotate: 90deg;
                            }
                        }
                    }

                    .input-wrapper {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5vh;

                        margin-top: 1vh;

                        h4 {
                            font-family: 'iranBold';
                        }

                        textarea {
                            background-color: white;
                            border: 1px solid;
                            padding: 0.5em;
                        }
                    }

                    .questions-container {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 4vh;

                        margin-top: 1vh;

                        .add-btn {
                            padding: 1rem 2rem;
                            background-color: var(--ten-percent);
                            color: white;
                            border-radius: 5px;
                        }

                        .container-row {
                            display: flex;
                            flex-direction: column;
                            gap: 2vh;

                            .container-row-header {
                                width: 100%;

                                display: flex;
                                align-items: center;

                                margin-bottom: -1vh;

                                position: relative;
                                isolation: isolate;

                                &::after {
                                    content: '';
                                    width: 35%;
                                    height: 2px;
                                    margin-right: auto;
                                    background-color: black;
                                }
                            }
                        }
                    }

                    .numbers-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 1vh;

                        margin-top: 1vh;

                        .input-number-wrapper {
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;

                            .holder {
                                display: flex;
                                align-items: center;
                                gap: 0.5vw;
                            }
                            .data {
                                input {
                                    width: 150px;

                                    text-align: center;

                                    direction: ltr;
                                }
                            }
                        }
                    }
                }

                table.questions {
                    .append,
                    .remove {
                        text-align: center;
                        cursor: pointer;
                        background-color: #008736;
                    }

                    .remove {
                        background-color: #e20338;
                    }
                }
            }
        }
    }
}
