.myinfo-container {
    gap: 10vh;

    .myinfo-wrapper {
        width: clamp(0px, 100%, 1000px);

        height: auto;
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 4vh;

        border-radius: 5px;

        .rows {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2vh;

            width: 100%;

            overflow-y: auto;

            padding: 1rem 2rem;

            .row {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                justify-content: flex-start;

                direction: rtl;
                overflow: hidden;

                position: relative;

                .row-title {
                    display: flex;
                    align-items: center;
                    gap: 1vw;
                }

                .input-wrapper {
                    position: relative;

                    .edit {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 100%;

                        cursor: pointer;

                        background-color: var(--sixty-percent);

                        translate: -100%;
                        transition: translate 0.5s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);

                        &:hover {
                            svg {
                                animation: ring 0.5s ease-in-out;

                                @keyframes ring {
                                    0% {
                                        rotate: 0deg;
                                    }
                                    25% {
                                        rotate: -10deg;
                                    }
                                    50% {
                                        rotate: 10deg;
                                    }
                                    75% {
                                        rotate: -14deg;
                                    }
                                    100% {
                                        rotate: 0deg;
                                    }
                                }
                            }
                        }

                        svg {
                            margin: 10px;
                        }
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;

                    width: 100%;
                    height: 2px;
                    background-color: var(--ten-percent);

                    translate: 100%;

                    transition: translate 0.3s ease-in-out;
                }
                &.active::after {
                    translate: 0;
                }

                &:hover {
                    .input-wrapper .edit {
                        translate: 0;
                    }
                }

                &.nickname {
                    .input-wrapper {
                        input {
                            background-color: transparent;
                            color: black;

                            border: none;
                            border-bottom: 1px solid var(--ten-percent);

                            padding: 10px 0;

                            width: 100%;
                        }
                    }
                }
            }
        }

        .submit-wrapper {
            margin: 1rem 2rem;
            margin-top: auto;

            width: clamp(0px, 100%, 400px);
        }
    }
}
