@font-face {
    font-family: 'iranLight';

    src: url('./iranSans/iran-light.woff2') format('woff2');
}
@font-face {
    font-family: 'iranBold';

    src: url('./iranSans/iran-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'yekanBold';

    src: url('./iranYekan/IRANYekanWebBold.woff') format('woff2');
}
@font-face {
    font-family: 'yekan';

    src: url('./iranYekan/IRANYekanWebRegular.woff') format('woff2');
}
