section.chargewallet-container {
    gap: 5vh;

    .chargewallet-wrapper {
        width: clamp(0px, 100%, 1300px);

        padding: 2rem;

        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10vh;

        border-radius: 30px;

        direction: rtl;

        @media screen and (max-width: 1024px) {
            padding: 1rem;
        }

        .supported-banks-wrapper {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 5vh;

            .banks-header {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;

                gap: calc(2vw + 5px);

                span {
                    white-space: nowrap;
                }

                &::before,
                &::after {
                    content: '';
                    width: clamp(0px, 100%, 150px);
                    height: 1px;

                    background-image: linear-gradient(
                        90deg,
                        rgba(0, 0, 0, 0),
                        black,
                        rgba(0, 0, 0, 0)
                    );
                }
            }
            .banks-slider {
                width: 100%;
                overflow: hidden;

                display: flex;
                align-items: center;
                justify-content: center;

                perspective: 1000px;

                position: relative;
                isolation: isolate;

                height: 100%;

                .bank-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2.5vh;

                    flex-shrink: 0;

                    aspect-ratio: 2/1;
                    width: clamp(0px, 70%, 400px);

                    background-color: #212121;
                    color: white;

                    border-radius: 15px;

                    &:not(.prev, .active, .next) {
                        display: none;
                    }

                    &.next,
                    &.prev {
                        position: absolute;
                    }

                    &.next {
                        animation: bank-next 1s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes bank-next {
                            0% {
                                display: none;
                                z-index: -1;
                            }
                            80% {
                                position: absolute;
                                translate: 100%;
                                transform: rotateY(30deg);
                                z-index: 1;
                            }
                            100% {
                                position: absolute;
                                translate: 100%;
                                transform: rotateY(30deg);
                                scale: 0.8;
                                z-index: 1;
                            }
                        }
                    }
                    &.active {
                        animation: bank-active 1s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                        @keyframes bank-active {
                            0% {
                                position: absolute;
                                translate: 100%;
                                transform: rotateY(30deg);
                                scale: 0.8;
                                z-index: 1;
                            }
                            80% {
                                position: relative;

                                translate: 0%;
                                z-index: 3;
                            }
                            100% {
                                position: relative;
                                scale: 1;
                                translate: 0%;
                                z-index: 3;
                            }
                        }
                    }
                    &.prev {
                        animation: bank-prev 1s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes bank-prev {
                            0% {
                                position: relative;
                                scale: 1;
                                translate: 0%;
                                z-index: 3;
                            }
                            80% {
                                position: absolute;
                                translate: -100%;
                                transform: rotateY(-30deg);
                                z-index: 3;
                            }
                            100% {
                                position: absolute;
                                translate: -100%;
                                transform: rotateY(-30deg);
                                scale: 0.8;
                                z-index: 1;
                            }
                        }
                    }

                    .bank-img {
                        margin-top: 1vh;

                        object-fit: contain;

                        aspect-ratio: 1/1;
                        width: 20%;
                    }
                }
            }
        }
        .charge-amount {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2vh;

            width: clamp(0px, 100%, 400px);

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            .amount-holder {
                display: flex;
                gap: 1vw;

                opacity: 0.7;

                width: 100%;
            }
            .amount-inp {
                display: flex;
                gap: 1vw;
                width: 100%;

                @media screen and (max-width: 1024px) {
                    gap: calc(2vw + 10px);
                }

                input {
                    width: -webkit-fill-available;
                    background-color: transparent;

                    font: inherit;
                    font-family: 'number';

                    border: none;
                    border-bottom: 1px solid black;
                    border-radius: 0;
                    color: black;
                }

                .option {
                    aspect-ratio: 1/1;
                    width: 60px;
                    border-radius: 5px;

                    cursor: pointer;

                    background-color: var(--sixty-percent);
                }
            }
        }
        .submit-charge {
            width: clamp(0px, 100%, 400px);
            button {
                width: 100%;
            }
        }
    }
}
