.schema-list {
    width: 100%;
    height: 100%;

    background-color: var(--sixty-percent);
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
        padding: 2rem;
    }

    .schemas {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));

        grid-column-gap: calc(5vw + 10px);
        grid-row-gap: 4vh;
        justify-items: center;

        width: 100%;

        padding: 0.5rem;

        overflow-y: auto;

        .schema {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 8vh;

            width: clamp(0px, 100%, 300px);

            padding: 1rem;
            background-color: white;

            border-radius: 10px;

            h2.title {
                text-align: center;
            }

            .schema-details {
                display: flex;
                flex-direction: column;
                gap: 2vh;

                width: 100%;

                direction: rtl;

                .schema-detail {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;

                    .holder {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                    }
                }
            }
        }
    }

    .actions {
        width: 100%;
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;

        direction: ltr;
        flex-shrink: 0;

        margin-top: auto;

        .pagination {
            display: flex;
            gap: 1rem;
        }
    }

    button {
        --color: var(--ten-percent);
        padding: 0.5rem 1rem;
        border: 2px solid var(--color);
        border-radius: 5px;
        transition: 200ms ease-in-out;
        transition-property: background-color, color;

        &:hover:enabled {
            background-color: var(--color);
            color: white;
        }

        &:disabled {
            opacity: 0.4;
        }
    }
}

.contract-container {
    width: 100%;
    direction: rtl;
    height: 100%;
    overflow: hidden;

    .head {
        padding-right: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        gap: 2rem;

        h1 {
            flex-shrink: 0;
            font-size: 36px;
        }

        .actions {
            display: flex;
            gap: 1vw;
            width: 100%;

            .cta-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5vw;

                padding: 0.5rem 1rem;

                color: black;
                border: 2px solid black;
                border-radius: 5px;

                cursor: pointer;

                transition: all 0.3s ease-in-out;

                &:hover {
                    color: white;
                    background-color: black;
                }

                &.save-btn {
                    border-color: green;
                }

                &.remove-btn {
                    border-color: var(--alert-error);
                    &:hover {
                        color: white;
                        background-color: var(--alert-error);
                    }
                }

                &.save-btn {
                    border-color: green;
                    &:hover {
                        color: white;
                        background-color: green;
                    }
                }
            }

            .pager {
                display: grid;
                place-items: center;

                cursor: pointer;

                border: 1px solid black;
                border-radius: 5px;

                width: 30px;
                aspect-ratio: 1/1;

                color: black;

                user-select: none;

                transition: all 0.3s ease-in-out;
                &.active {
                    color: white;
                    background-color: black;
                }
            }
        }
    }

    .inner-wrapper {
        display: flex;
        height: calc(100% - 100px);

        .viewer-wrapper {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        .parties {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            height: 100%;
            width: clamp(0px, 100%, 300px);

            background: var(--accent-color);
            color: var(--primary-color);

            overflow: hidden;

            .users {
                display: flex;
                flex-direction: column;
                gap: 1vh;

                height: 100%;
                padding: 0.5rem 1rem;

                overflow-y: auto;
                .user {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.3rem;
                    border-bottom: 2px solid var(--sixty-percent);

                    transform: translateY(200%);
                    opacity: 0;

                    position: relative;
                    isolation: isolate;

                    animation: user-slidein 1s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes user-slidein {
                        from {
                            transform: translateY(200%);
                            opacity: 0;
                        }
                        to {
                            transform: translateY(0%);
                            opacity: 1;
                        }
                    }

                    .user-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        transition: 0.3s color
                            cubic-bezier(0.45, 0.02, 0.09, 0.98);
                        svg {
                            &.active {
                                color: var(--ten-percent);
                            }
                        }
                        .fullname {
                            font-family: 'yekan';

                            &.bold {
                                font-family: 'iranBold';
                            }
                        }
                    }

                    .remove {
                        color: var(--alert-error);
                    }

                    &:has(.remove:hover) .user-wrapper {
                        color: var(--alert-error);
                    }
                }
            }

            .config {
                padding: 1rem;
                // height: 50px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                gap: 1vh;

                button {
                    border: 2px solid red;
                    padding: 0.2rem;
                    border-radius: 5px;
                }

                .toggle-invites {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    overflow: hidden;

                    --color: green;
                    &.active {
                        --color: red;
                    }

                    border-color: var(--color);

                    .options-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;
                        isolation: isolate;

                        .enable {
                            transform: translateY(0);
                        }
                        .disable {
                            position: absolute;
                            inset: 0;

                            transform: translateY(-200%);
                        }

                        .enable,
                        .disable {
                            font-family: 'yekanBold';
                            transition: transform 0.5s
                                cubic-bezier(0.45, 0.02, 0.09, 0.98);
                        }

                        &.active {
                            .enable {
                                transform: translateY(-200%);
                            }
                            .disable {
                                transform: translateY(0);
                            }
                        }
                    }
                }

                button.link-copy {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    padding: 0.5rem 0.7rem;

                    border-color: var(--ten-percent);

                    width: 100%;

                    direction: ltr;

                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            // --primary-color: #121212;
            // --accent-color: #f2f2f2;
            // --alert-error: #e20338;
            // --alert-info: #5199ff;
            // --alert-success: #00dc7d;
            // --sixty-percent: #87ceeb;
            // --ten-percent: #6a287e;
        }
    }
}

.join-contract {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        border-radius: 10px;
        display: grid;
        place-content: center;
        direction: rtl;
        width: 40%;
        height: 40%;
        background: var(--accent-color);
        font-size: 30px;
    }
}
