.deposit-container {
    .deposit-wrapper {
        height: 70vh;
        width: 100%;
        display: grid;
        place-items: center;

        .video-wrapper {
            width: clamp(0px, 100%, 1000px);
            display: grid;
            place-items: center;

            iframe {
                width: 100%;

                aspect-ratio: 1/0.5;

                border: none;
                border-radius: 5px;
                box-shadow: 0px 5px 10px -5px black;
            }
        }
    }
}
