.notifications-container {
    position: absolute;
    top: 20px;
    right: 20px;

    .notification-icon {
        background-color: white;
        border-radius: 10px;

        cursor: pointer;
        box-shadow: 0px 15px 20px -15px black;

        &:hover {
            svg {
                animation: notification-ring 0.5s ease-in-out;
            }
        }

        @keyframes notification-ring {
            0% {
                transform: rotateZ(0);
            }

            20% {
                transform: rotateZ(-16deg);
            }
            40% {
                transform: rotateZ(14deg);
            }
            60% {
                transform: rotateZ(-12deg);
            }
            80% {
                transform: rotateZ(12deg);
            }
            100% {
                transform: rotateZ(0);
            }
        }

        .unseen-count {
            position: absolute;
            top: 0;
            right: 0;

            min-width: 25px;
            aspect-ratio: 1/1;

            display: flex;
            align-items: center;
            justify-content: center;

            transform: translate(50%, -50%);

            background-color: var(--alert-error);

            border-radius: 100vmax;
        }

        svg {
            margin: 10px;
        }
    }
}
