section.transactions-container {
    height: 100%;
    gap: 5vh;

    .transactions-wrapper {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: calc(3vw + 5px);
        row-gap: calc(3vh + 5px);

        .transaction-card {
            width: clamp(0px, 100%, 350px);
            aspect-ratio: 0.7/1;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 5vh;

            border-radius: 15px;
            box-shadow: 0px 35px 30px -35px black;

            padding: 2rem;

            transition: box-shadow 0.3s ease-in-out;

            &:hover {
                box-shadow: 0px 55px 30px -35px black;
            }

            &.withdraw {
                background: linear-gradient(
                    to top,
                    rgba(226, 3, 55, 0.9) -10%,
                    rgb(255, 255, 255) 100%
                );
            }

            &.deposit {
                background: linear-gradient(
                    to top,
                    #00dc7d -10%,
                    rgb(255, 255, 255) 100%
                );
            }

            // --sixty-percent: #87ceeb;
            // --ten-percent: #6a287e;
            &.move {
                background: linear-gradient(
                    to top,
                    var(--ten-percent) -10%,
                    rgb(255, 255, 255) 100%
                );
            }

            .datas {
                display: flex;
                flex-direction: column;
                gap: 2.5vh;
                align-items: center;
                justify-content: center;
                width: 100%;

                .row {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    direction: rtl;

                    .holder-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1vw;
                    }
                }
            }
        }
    }
}
