.wallet-container {
    gap: 5vh;

    .wallet-wrapper {
        width: clamp(0px, 100%, 1000px);

        height: auto;
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3vh;

        border-radius: 5px;

        .rows {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1vh;

            width: 100%;

            overflow-y: auto;

            padding: 2rem;

            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                direction: rtl;
                overflow: hidden;

                position: relative;
                padding: 2vh 0;
                gap: 1rem;

                .row-title {
                    display: flex;
                    align-items: center;
                    gap: 1vw;
                    flex-shrink: 0;
                }

                &.address {
                    .row-data {
                        width: clamp(250px, 400px, 600px);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .row-data {
                    text-align: left;
                    width: 100%;

                    input {
                        width: 100%;
                        background: transparent;
                        border: none;
                        color: inherit;

                        &.addr {
                            font-family: monospace;
                            font-size: 18px;
                            direction: ltr;
                        }
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    width: 0;
                    height: 1px;
                    background-color: var(--ten-percent);

                    animation: row-line-open 0.7s
                        cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                    @keyframes row-line-open {
                        from {
                            width: 0;
                        }
                        to {
                            width: 90%;
                        }
                    }
                }

                @for $i from 1 to 8 {
                    &:nth-child(#{$i})::after {
                        animation-delay: $i * 100ms;
                    }
                }
            }
        }
    }
}
