.register-card {
    width: clamp(100px, 80%, 600px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    box-shadow: 0px 30px 40px -40px #000;

    padding: 1rem 2rem;

    gap: 4vh;

    position: relative;

    .card-title {
        text-align: center;
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        position: relative;
        isolation: isolate;

        width: 100%;

        margin-top: -2vh;

        overflow: hidden;

        &::before {
            content: '';
            width: 0;
            height: 2px;
            background-color: black;

            animation: width-slideIn 1s 1.3s
                cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

            @keyframes width-slideIn {
                from {
                    width: 0;
                }
                to {
                    width: 100%;
                }
            }
        }

        span {
            padding-left: 40px;

            display: inline-block;

            transform: translateY(100%);

            white-space: nowrap;

            animation: header-fadeIn 1s 0.3s
                cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

            @keyframes header-fadeIn {
                from {
                    transform: translateY(100%);
                }
                to {
                    transform: translateY(0);
                }
            }
        }
    }

    .inps {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2vh;

        width: 100%;

        direction: rtl;

        padding-bottom: 1rem;

        .input-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1vh;

            .holder {
                display: flex;
                gap: calc(0.5vw + 5px);
            }
            textarea {
                // reset
                background-color: white;
                color: black;
                border-radius: 7.5px;
                border: none;
                //

                padding: 10px 15px;
                resize: none;
            }
            input {
                // reset
                background-color: white;
                color: black;
                border-radius: 7.5px;
                border: none;
                //

                padding: 10px 15px;
                width: 100%;
            }

            .birthday-inp {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3vw;
                flex-wrap: wrap;

                select {
                    width: clamp(0px, 100%, 100px);

                    background-color: white;
                    color: black;
                    border-radius: 7.5px;
                    border: none;
                    padding: 10px 15px;

                    font-family: 'iranBold';

                    text-align: center;
                }
            }
        }
    }
    .go-back-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);

        background-color: var(--ten-percent);

        border-radius: 100vmax;

        cursor: pointer;

        svg {
            padding: 5px;
        }
    }
}
