@use 'config' as g;
@use 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;

    &:focus {
        outline: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--sixty-percent);
}

::-webkit-scrollbar-thumb {
    background-color: var(--ten-percent);
    border: 2px solid var(--sixty-percent);
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

.root {
    background-color: #121212;
    @media (prefers-color-scheme: dark) {
        body {
            @include theme.dark;
        }
        background-color: var(--primary-color);
    }
    @media (prefers-color-scheme: light) {
        body {
            @include theme.dark;
        }
        background-color: var(--primary-color);
    }
}

body {
    overflow: hidden;
}

html,
body {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body {
        @include theme.dark;
    }
    main.home {
        background-color: var(--sixty-percent);
        color: var(--accent-color);
    }
}
@media (prefers-color-scheme: light) {
    body {
        @include theme.light;
    }
    main.home {
        background-color: var(--sixty-percent);
        color: var(--accent-color);
    }
}

span.logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.title_hero {
    font-size: g.$TITLE_FONTSIZE_HERO;
    font-family: 'iranBold';

    @media screen and (max-width: 1024px) {
        font-size: g.$MOBILE_TITLE_FONTSIZE_HERO;
    }
}
.section_title {
    font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
    font-family: 'iranBold';
}
.title {
    font-size: g.$TITLE_FONTSIZE;
    font-family: 'yekanBold';

    @media screen and (max-width: 1024px) {
        font-size: g.$MOBILE_TITLE_FONTSIZE;
    }
}
.title_small {
    font-size: g.$TITLE_FONTSIZE_SMALL;
    font-family: 'yekanBold';
    @media screen and (max-width: 1024px) {
        font-size: g.$MOBILE_TITLE_FONTSIZE_SMALL;
    }
}
.title_smaller {
    font-size: g.$TITLE_FONTSIZE_SMALLER;
    font-family: 'yekan';
    @media screen and (max-width: 1024px) {
        font-size: g.$MOBILE_TITLE_FONTSIZE_SMALLER;
    }
}

.description {
    font-size: g.$DESCRIPTION_FONT_SIZE;
    @media screen and (max-width: 1024px) {
        font-size: g.$TITLE_FONTSIZE_SMALLER;
    }
}
.description_small {
    font-size: g.$DESCRIPTION_FONT_SIZE_SMALL;
    @media screen and (max-width: 1024px) {
        font-size: g.$MOBILE_DESCRIPTION_FONT_SIZE;
    }
}

.icon {
    display: grid;
    place-items: center;
}
