@media print {
    /* All your print styles go here */
    footer,
    nav,
    // notif
    .notifications-container,
    // contract
    aside.sidebar,
    .head,
    .parties,
    .lock-container,
    .record-container,
    input,
    table {
        display: none !important;
    }

    .contract-container .inner-wrapper {
        height: 100%;
        overflow: hidden;
    }

    main {
        * {
            break-before: always;
            break-after: always;

            break-inside: avoid;

            display: block;
        }
    }

    style {
        display: none;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    body {
        margin: 0; /* Reset page margins */
        background-color: rgb(0, 0, 0);
    }

    /* Add this rule to reset scroll position */
    html,
    body {
        scroll-behavior: auto !important;
        scroll-behavior: smooth !important;

        max-width: 100% !important;

        height: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
}
