$gap: 0.3rem;
$color1: #782fef;
$color2: #f375f3;

.test2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    gap: $gap;
    padding: $gap;
    background: #040404;
    color: #f2f2f2;
    font-family: monospace;

    .schema,
    .config {
        border: 2px solid $color1;
        border-radius: 5px;
        height: 100%;
    }

    .schema {
        width: 70%;
        display: flex;
        flex-direction: column;

        .pages {
            display: flex;
            gap: $gap;
            overflow-x: auto;
            font-size: 20px;
            padding: $gap;

            span {
                flex-shrink: 0;
                user-select: none;
                border: 2px solid $color1;
                border-radius: 5px;
                cursor: pointer;
                width: 30px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                &.active {
                    border-color: $color2;
                }
            }
        }

        .editor {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: $gap;
            overflow: hidden;

            .modes {
                width: 100%;
                display: flex;
                gap: $gap * 4;
                padding: $gap;
                overflow: hidden;
                flex-shrink: 0;

                span {
                    user-select: none;
                    border: 3px solid transparent;
                    border-bottom: 0;
                    font-size: 24px;
                    padding: 0 20px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    cursor: pointer;
                    position: relative;

                    &.active {
                        border-color: $color1;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 1000%;
                            height: 2px;
                            background: $color1;
                            bottom: 0;
                            left: 100%;
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            width: 1000%;
                            height: 2px;
                            background: $color1;
                            bottom: 0;
                            right: 100%;
                        }
                    }
                }
            }

            textarea {
                padding: $gap;
                border: 0;
                direction: rtl;
                font-size: 18px;
                background: #040404;
                width: 100%;
                height: 100%;
                resize: none;
            }
        }
    }

    .config {
        width: 30%;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 6px;
        background: #040404;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #a400ff;
        border: 0;
        border-radius: 0;
    }

    ::selection {
        color: #f2f2f2;
        background-color: $color1;
    }
}
