$gap: 0.3rem;
$color1: #782fef;
$color2: #f375f3;
$color3: #fd0079;

.test2 {
    --gap: #{$gap};
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    gap: $gap;
    padding: $gap;
    background: #040404;
    color: #f2f2f2;
    font-family: monospace;

    .schema,
    .config {
        border: 2px solid $color1;
        border-radius: 5px;
        height: 100%;
    }

    .schema {
        width: 70%;
        display: flex;
        flex-direction: column;

        .pages {
            display: flex;
            gap: $gap;
            overflow-x: auto;
            font-size: 20px;
            padding: $gap;

            span {
                flex-shrink: 0;
                user-select: none;
                border: 2px solid $color1;
                border-radius: 5px;
                cursor: pointer;
                width: 30px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                &.active {
                    border-color: $color2;
                }

                &.copy-btn {
                    border-color: $color3;
                }
            }
        }

        .editor {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: $gap;
            overflow: hidden;

            .modes {
                width: 100%;
                display: flex;
                gap: $gap * 4;
                padding: $gap;
                overflow: hidden;
                flex-shrink: 0;

                span {
                    user-select: none;
                    border: 2px solid transparent;
                    border-bottom: 0;
                    font-size: 24px;
                    padding: 0 20px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    cursor: pointer;
                    position: relative;

                    &.active {
                        border-color: $color1;

                        &::after {
                            position: absolute;
                            content: '';
                            width: 100vw;
                            height: 2px;
                            background: $color1;
                            bottom: 0;
                            left: 100%;
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            width: 1000%;
                            height: 2px;
                            background: $color1;
                            bottom: 0;
                            right: 100%;
                        }
                    }
                }
            }

            textarea {
                padding: $gap;
                border: 0;
                direction: rtl;
                font-size: 18px;
                background: #040404;
                width: 100%;
                height: 100%;
                resize: none;
            }

            .viewer {
                font-size: 16px;
                direction: rtl;
                padding: 0 1rem;
                overflow-y: auto;

                hr {
                    border: 1px solid $color1;
                    margin: $gap * 2 0;
                }

                .geo-field {
                    width: 500px;
                    height: 200px;
                    background: green;
                }

                .text-field {
                    border: 2px solid $color1;
                    transition: border-color 200ms ease-in-out;

                    &:focus {
                        border-color: $color3;
                    }
                }
            }
        }
    }

    .config {
        width: 30%;

        .fields {
            height: 20%;
            padding: $gap;
            display: flex;
            gap: $gap;
            flex-wrap: wrap;
            align-content: flex-start;

            button {
                text-transform: capitalize;
                user-select: none;
                cursor: pointer;
                font-size: 18px;
                border: 2px solid $color1;
                border-radius: 5px;
                padding: $gap;
            }
        }

        .field-config-container {
            height: 80%;
            // border-top: 2px solid $color1;

            input {
                width: 100%;
                background: transparent;
                border: 2px solid $color1;
                font-size: 18px;
                padding: $gap;
                transition: border-color 200ms ease-in-out;

                &:focus {
                    border-color: $color3;
                }
            }

            input[type='text'] {
                border-width: 0;
                border-top-width: 2px;
                border-bottom-width: 2px;
            }

            input[type='checkbox'] {
                width: unset;
            }

            .field-config {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                font-size: 18px;

                textarea {
                    resize: vertical;
                    background: transparent;
                    font-size: 18px;
                    border: 0 solid $color1;
                    border-bottom-width: 2px;
                    padding: $gap;
                    transition: border-color 200ms ease-in-out;
                    max-height: 50%;
                    min-height: 10%;

                    &:focus {
                        border-color: $color3;
                    }
                }

                .row {
                    display: flex;
                    align-items: center;
                    gap: $gap;
                }

                label {
                    user-select: none;
                }
            }

            table.questions {
                .append,
                .remove {
                    text-align: center;
                    cursor: pointer;
                    background-color: #008736;
                }

                .remove {
                    background-color: #e20338;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 6px;
        background: #040404;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #a400ff;
        border: 0;
        border-radius: 0;
    }

    ::selection {
        color: #f2f2f2;
        background-color: $color1;
    }
}
