.card {
    width: clamp(100px, 80%, 400px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 15px;
    box-shadow: 0px 30px 40px -40px #000;

    padding: 1rem 2rem;

    gap: 4vh;

    .card-title {
        text-align: center;
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        isolation: isolate;

        width: 100%;

        margin-top: -2vh;

        &::before,
        &::after {
            content: '';
            width: -webkit-fill-available;
            height: 2px;
            background-color: black;
        }

        span {
            padding: 0 50px;
        }
    }

    .card-inps {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2vh;

        width: 100%;

        direction: rtl;

        .input-wrapper {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 1vh;
            .placeholder {
                display: flex;
                gap: 1vw;

                font-family: 'iranBold';

                padding-right: 5px;

                opacity: 0.7;
            }
            .input-column {
                position: relative;

                .input {
                    width: 100%;

                    font-family: 'Vazir';
                    letter-spacing: 0.2vmin;

                    border: none;
                    outline: none;
                    background-color: var(--sixty-percent);

                    padding: 10px 15px;
                    border-radius: 7.5px;

                    color: black;

                    &:-webkit-autofill {
                        background-clip: text;
                    }
                }

                .icon {
                    position: absolute;
                    left: 0;
                    top: 0;

                    height: 100%;
                    padding: 0 10px;

                    cursor: pointer;
                }
            }
        }
    }

    .submit {
        // reset
        border: none;
        //

        margin-top: 5vh;

        background-color: var(--ten-percent);
        width: 100%;

        padding: 1rem 2rem;

        border-radius: 7.5px;
    }
}
